<h2>Bienvenue sur des chiffres et des lettres</h2>

<!--Here you should print general stats (number of games performed, avg score, longest word found,...)-->

<p><%= "Number of games played: #{$nb_games}" %></p>
<p><%= "Average score: #{$avg_score.round(2)}" %></p>
<p><%= "Highest score: #{$length_record}" %></p>

<!--Here you should print a new game grid-->

<h2>New Grid:</h2>
<p><%= @game.grid.reduce("") { |string, letter| string + " #{letter}"} %></p>

<form action="/guess" method="post">
	<form>
		<label for="user_guess">What's your guess ?</label>
		<input type="text" name="guess" id="user_guess">
		<input type="submit" value="Come on ! Time's runnning">
	</form>
</form>

<!--Here you should print the results of the last game finished-->
<p><%= @message %></p>